# Volumes
**/data/
**/config/
**/db/
**/storage/
**/var/lib/
**/var/log/

# Docker
**/docker-compose.override.yml
/llm-stack/ollama/ollama/

# OS
.DS_Store
*.swp
*.swo
*~

# Env files with secrets
.env
.env.*
*.secret
